/* .title {
  text-align: center;
} */
th{
  text-align : left;
  font-size : xlarge;
}
td{
  text-align : left;
  font-size : large;
}
input{
  width:100%;
  font-size :x-large;
  padding : 0.2rem;
}